.input-container {
  flex-direction: column;
  position: relative;
  width: 100%;
}

.input-container label {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  font-size: 1.5rem;
  opacity: 0.5;
  transition: all 0.5s ease;
}

.input-container input:focus + label,
.input-container input:not(:placeholder-shown) + label {
  top: -25px;
  padding: 0.2em;
  transform: translateX(0);
  background-color: var(--isc-primary-color);
  left: 10px;
  font-size: clamp(1rem, 5vw, 1.5rem);
  opacity: 1;
}

.input-container > input {
  width: 90%;
  font-size: 1rem;
  padding: 1rem;
  margin-bottom: 1.5em;
}
