.gallery {
  width: 100%;
  background-color: var(--isc-primary-color);
  background-image: url('https://www.transparenttextures.com/patterns/grunge-wall.png');
}

@media screen and (max-width: 768px) {
  .gallery {
    padding: 0;
  }
}
