.details {
  flex-direction: column;
  position: absolute;
  bottom: 1rem;
  height: 110px;
  font-size: 1rem;
}

.details > p {
  width: 85%;
  height: 50px;
  text-align: start;
}

.details p:nth-of-type(odd) {
  text-decoration: underline;
}

.details p:nth-of-type(even) {
  font-size: 0.9rem;
}

.atk-def {
  width: 250px;
  gap: 0.5rem;
  margin-top: 1rem;
}

.atk-name-value,
.def-name-value {
  flex-direction: column;
  gap: 0.2rem;
  width: 100%;
}
