.card {
  border-radius: 2rem;
  height: 50svh;
}

.card-container {
  flex-direction: column;
  border-radius: 2rem;
  justify-content: flex-start;
  gap: 5rem;
  backdrop-filter: blur(30px);
  width: 310px;
  height: 430px;
  border: 10px solid var(--isc-primary-color);
  position: relative;
  margin-bottom: 2rem;
  opacity: 0;
  transform: scale(0.2);
  overflow: hidden;
  background-color: var(--isc-primary-color);
  background-image: url('https://www.transparenttextures.com/patterns/grunge-wall.png');
  animation: popIn 1s ease forwards;
}

@keyframes popIn {
  0% {
    opacity: 0;
    transform: scale(0.2);
  }
  80% {
    opacity: 1;
    transform: scale(1.05);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.beast-type-color {
  position: absolute;
  border-radius: 2rem;
  width: 100%;
  height: 300px;
  bottom: -150px;
  left: 0;
}

.beast-img-container {
  height: 100%;
}

.beast-img-container > img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150px;
  object-fit: contain;
  animation: aura-move 0.5s ease-in-out infinite alternate;
}

@keyframes aura-move {
  0% {
    filter: drop-shadow(2px 2px 15px rgba(0, 0, 0, 0.6));
    transform: translate(-50%, -70%) translateY(0);
  }
  50% {
    filter: drop-shadow(2px 2px 20px rgba(0, 0, 0, 0.5));
    transform: translate(-50%, -70%) translateY(-3px);
  }
  75% {
    filter: drop-shadow(2px 2px 25px rgba(0, 0, 0, 0.5));
    transform: translate(-50%, -70%) translateY(-6px);
  }
  100% {
    filter: drop-shadow(2px 2px 30px rgba(0, 0, 0, 1));
    transform: translate(-50%, -70%) translateY(6px);
  }
}

.download-btn {
  font-size: 1rem;
  margin-top: 0.5rem;
}

.download-msg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  width: 300px;
  text-align: center;
  border-radius: 1rem;
  font-size: clamp(1rem, 8vw, 2rem);
  background-color: var(--isc-primary-color);
}

.battle-modal {
  background-color: var(--isc-primary-color);
  background-image: url('https://www.transparenttextures.com/patterns/grunge-wall.png');
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  height: 200px;
  gap: 2rem;
  padding: 0 1rem;
  border-radius: 1rem;
}

.battle-modal > p {
  font-size: 1.5rem;
  text-align: center;
}

.btns-battle-modal {
  gap: 1rem;
  font-size: 1rem;
}

.btns-battle-modal > button:first-of-type {
  animation: shadow-btn 1s ease infinite;
}

@keyframes shadow-btn {
  0% {
    box-shadow: 0 0 0 0 black;
  }
  100% {
    box-shadow: 1px 1px 10px 0 black;
  }
}

.btns-battle-modal + .close-btn-modal {
  background-color: var(--isc-primary-color);
  border: 1px solid rgb(var(--isc-accent-color));
  color: var(--isc-secondary-color);
}
