.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  inset: 0;
  z-index: 1;
}

.new-card-modal {
  position: fixed;
  width: 350px;
  height: 500px;
  padding: 1rem;
  padding-bottom: 2em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
  overflow: hidden;
}

.close-btn-modal {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 1rem;
  transition: opacity 1s ease-in-out;
  z-index: 2;
}

.close-btn-modal:hover {
  transform: scale(0.9);
}

.close-btn-modal:active {
  box-shadow: none;
}
