.battle {
  background-color: var(--isc-primary-color);
  background-image: url('https://www.transparenttextures.com/patterns/grunge-wall.png');
  width: 100%;
  min-height: 80svh;
  flex-direction: column;
}

.battle > h2 {
  font-size: clamp(1rem, 8vw, 2rem);
  text-align: center;
  margin-bottom: 1rem;
}

.combat-area {
  position: relative;
  max-width: 850px;
  width: 100%;
  border-radius: 2rem;
  padding: 5rem 2rem;
  background-color: rgb(var(--isc-accent-color));
  box-shadow: inset 0 0 0 4px rgb(var(--isc-accent-color)),
    inset 0 0 0 26px rgb(var(--isc-accent-color)), inset 0 0 0 35px white;
}

.bg-tatami {
  position: absolute;
  opacity: 0.5;
  inset: 0;
  margin: auto;
  filter: blur(1px);
}

.combat-area::before,
.combat-area::after {
  position: absolute;
  content: '';
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.combat-area::before {
  bottom: 2%;
  left: 2%;
  background-color: red;
}

.combat-area::after {
  top: 2%;
  right: 2%;
  background-color: #3d3dc0;
}

.combat-area p {
  z-index: 2;
  justify-content: space-between;
}

.no-battling {
  width: 100%;
  justify-content: space-around;
}

.no-battling > img {
  object-fit: contain;
  width: 300px;
}

.my-creature,
.enemy {
  flex-direction: column;
}

.img-container {
  max-width: 250px;
  width: 100%;
  height: 200px;
  z-index: 1;
}

.img-container > img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.my-creature .img-container:hover {
  transform: translateX(20px) scale(1.1);
}

.enemy .img-container:hover {
  transform: translateX(-20px) scale(1.1);
}

.stats-in-fight {
  flex-direction: column;
  margin-top: 1rem;
  width: 200px;
  gap: 0.5rem;
  font-size: clamp(1rem, 2vw, 1.5rem);
  backdrop-filter: blur(10px);
  border-radius: 1rem;
  padding: 0.5rem;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.stats-in-fight p {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.vs {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: var(--isc-primary-color);
  box-shadow: 0 0 20px 0 var(--isc-primary-color);
}

.battle-go {
  font-size: 1.5rem;
}

.battling {
  position: relative;
  max-width: 850px;
  width: 100%;
  min-height: 700px;
  height: 100%;
  height: 100%;
  background-image: url('/tatami.png'),
    linear-gradient(
      to bottom,
      #53db93 0%,
      #c2f48a 10%,
      #d5f775 20%,
      #e8fb60 30%,
      #c2f48a 40%,
      #53db93 50%,
      #c2f48a 60%,
      #e8fb60 70%,
      #d5f775 80%,
      #c2f48a 90%,
      #53db93 100%
    );

  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% auto;
  padding: 1rem;
  border-radius: 1rem;
}

.battling-time {
  position: relative;
  width: 100%;
  height: 70vh;
}

.img-container-creature,
.img-container-enemy {
  position: absolute;
  width: 30%;
}

.img-container-creature {
  bottom: 18%;
  left: 5%;
  animation: myCreature 1s ease infinite alternate;
}

.img-container-enemy {
  top: 25%;
  right: 8%;
  animation: enemy 3s ease-out infinite alternate;
}

.img-container-creature > img,
.img-container-enemy > img {
  object-fit: contain;
  width: 100%;
}

@keyframes myCreature {
  0% {
    transform: translateX(0%) translatey(0%);
  }
  50% {
    transform: translateX(45%) translateY(-45%);
  }
  100% {
    transform: translateX(10%) translateY(10%);
  }
}

@keyframes enemy {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-30%);
  }
  100% {
    transform: translateX(-10%);
  }
}

.battle-end {
  justify-content: center;
}

.battle-end .card .front-details {
  clip-path: none;
  color: var(--isc-primary-color);
}

.puntuation-board {
  flex-direction: column;
  font-size: 1rem;
  margin-left: 2rem;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  gap: 1rem;
  border-radius: 1rem;
}

.puntuation-board .stat-item {
  width: 250px;
}

.puntuation-board > p {
  font-size: 1.5rem;
  text-align: center;
}

.finalMsg {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  text-align: center;
  border-radius: 1rem;
  padding: 2rem;
  backdrop-filter: blur(10px);
  background-color: var(--isc-primary-color);
  z-index: 3;
  box-shadow: 1px 1px 0 var(--isc-secondary-color),
    inset 1px 1px 0 var(--isc-secondary-color);
}

.backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

@media screen and (max-width: 480px) {
  .battle {
    padding: 1rem;
  }

  .no-battling {
    flex-direction: column;
    gap: 3rem;
  }

  .img-container {
    width: 50%;
  }

  .my-creature,
  .enemy {
    position: relative;
    flex-direction: row;
    width: 90%;
    gap: 2rem;
  }

  .my-creature > h3 {
    position: absolute;
    top: -20px;
    left: 0;
    z-index: 1;
  }

  .enemy > h3 {
    position: absolute;
    bottom: -20px;
    left: 0;
    z-index: 1;
  }

  .vs {
    width: 50px;
    height: 50px;
  }

  .stats-in-fight {
    width: 50%;
  }

  .battling {
    min-height: unset;
    height: 400px;
  }

  .img-container-creature {
    bottom: 180px;
    left: 50px;
  }

  .img-container-enemy {
    top: 180px;
  }

  .battle-end {
    flex-direction: column;
    gap: 2rem;
  }
  .battle-end .puntuation-board {
    margin-left: 0;
  }
}
