.favHeart {
  --w-fav: grey;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 50px;
  aspect-ratio: 1;
  background: radial-gradient(circle at 60% 65%, var(--w-fav) 64%, #0000 65%)
      top left/50% 50%,
    radial-gradient(circle at 40% 65%, var(--w-fav) 64%, #0000 65%) top
      right/50% 50%,
    conic-gradient(from -45deg at 50% 85.5%, var(--w-fav) 90deg, #0000 0)
      bottom/100% 50%;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: all 0.5s ease;
}

.favHeart.fav {
  --w-fav: red;
}
